
keys/
*.json
.env
.env.*

chroma_db/
docs/
*.png
first_chunk_highlighted.png

.venv/
venv/
ENV/
__pycache__/
*.py[cod]
*$py.class
*.so


.cache/
huggingface/
torch/


.DS_Store
.idea/
.vscode/
*.swp

docs_ignore
saved

